mixin todaysStats(todaysStats)

  .todaysStats
    table
        tr
          th Date and time of entry: 
          th Date of Headache:
          th Time of Headache:
          th Pain Level (0-10): 
          th Type of Headache:
          th Location of Headache:
          th Additional Pain experienced in:
          th During Menstruation Cycle?
        each headache in headaches
          tr
            td= `${moment(headache.date).format("ddd MMM Do YYYY, h:mm a")}`
            td= `${moment(headache.dateOf).format("ddd MMM Do YYYY")}`
            if `${headache.timeOf}` === ""
                td= `${headache.date}`
            else
                td= `${headache.timeOf}`
            td= `${headache.intensity}`
            td= `${headache.pain_type.join(", ")}`
            td= `${headache.locations}`
            td= `${headache.additional_pain.join(", ")}`
            td= `${headache.menstruating}`




  